
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: header}"></head>


<body>

<nav th:replace="~{layout :: user}"></nav>

<div class="container">	
    <br>
    <div class="form-group row"><h2 style="margin: auto; display: block;"  th:text="${book.title}"/></div>
    <hr>

    <div id="myForm">
	
		<table style="width: 1200px;">
			<td style="width: 600px;">
				    <img id="uploadedImage" name="imgUploaded" th:src="@{${book.skinpath}}" alt="" style="max-width: 70%;">
			</td>
			<td style="width: 600px;">
			    <div class="form-group row">
			        <div style="display: inline-block; margin-right: 2%;">
						<h6>Title</h6>
			            <input type="text" th:field="${book.title}" th:class="add" disabled>
			        </div>
			        <div style="display: inline-block;">
						<h6>Author</h6>
			            <input type="text" th:field="${book.author}" th:class="add" disabled>
			        </div>
			    </div>
			    
			    <div class="form-group row">
					<div style="display: inline-block;">
						<h6>Description</h6>
				        <textarea type="text" th:field="${book.description}" 
				        style="width: 387px; height: 300px;"
				        th:class="add" disabled></textarea>
					</div>
			    </div>
			       
			    <div class="form-group row">
			        <div style="display: inline-block; margin-right: 2%;">
						<h6>Date</h6> 
			            <input id="dp3" type="text" th:field="${book.date}"
			            th:class="add" disabled>
			        </div>
			        
			        <div style="display: inline-block;">
						<h6>Page's number</h6> 
			            <input type="text" th:field="${book.page}" th:class="add" disabled>
			        </div>
			    </div>
			    
			    <div class="form-group row">
					<div style="display: inline-block; margin-right: 2%;">
						<h6>Type</h6>
				        <input type="text" th:field="${book.type}" th:class="add" disabled>
					</div>
					<div style="display: inline-block;">
						<form th:action="@{/user/buy(id=${book.bookId})}" th:object="${sold}" method="POST">
							<h6>Số lượng:</h6>
							<div>
								<button type="button" class="btn btn-info btn-sm" onclick="decrement()">-</button>
								<input type="text" id="sold" name="num" style="width: 50px; height: 30px;" value="1" 
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
								<button type="button" class="btn btn-info btn-sm" onclick="increment()">+</button>
								
								<button type="submit" class="btn btn-primary btn-sm">Buy</button>
							</div>
						</form>
					</div>
			    </div>
			</td>
		</table><hr>
    </div>
    
    <h4>Comment</h4><hr>
    <table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Username</th>
						<th>Comment</th>
						<th>Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rate : ${rates}">
						<td th:text="${rate.username}"/>
						<td th:text="${rate.cmt}"/>
						<td>
    
    <i class="fa fa-star" style="font-size:20px;color:gold;" th:if="${rate.rating} >= 1"></i>
    <i class="fa fa-star" style="font-size:20px;color:gold;" th:if="${rate.rating} >= 2"></i>
    <i class="fa fa-star" style="font-size:20px;color:gold;" th:if="${rate.rating} >= 3"></i>
    <i class="fa fa-star" style="font-size:20px;color:gold;" th:if="${rate.rating} >= 4"></i>
    <i class="fa fa-star" style="font-size:20px;color:gold;" th:if="${rate.rating} >= 5"></i>


</td>
					</tr>
				</tbody>

			</table>
</div>
<script>
	function increment() {
	    var input = document.getElementById("sold");
	    input.value = parseInt(input.value) + 1;
	}
	
	function decrement() {
	    var input = document.getElementById("sold");
	    if(input.value > 1){
	    	input.value = parseInt(input.value) - 1;
	    }
	}
</script>
</body>


</html>